<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/statics/css/bootstrap-reboot.min.css">
    <script src="/statics/js/jquery.min.js" rel="script"></script>
    <script src="/statics/js/Popper.js" rel="script"></script>
    <script rel="script" src="/statics/js/bootstrap.bundle.js"></script>
    <title>Gin Hello</title>
</head>
<body>
<header>
    {{template "header"}}
</header>
<main>
    {{ .title }}
</main>
</body>
</html>